#!/bin/sh

# PROVIDE: hpex47xled
# REQUIRE: LOGIN
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# hpex47xled_enable (bool):          Set to NO by default.
#               Set it to YES to enable hpex47xled.
# hpex47xled_user (string):          Set user that hpex47xled will run under
#               Default is "nobody".
# hpex47xled_group (string):         Set group that hpex47xled will run under
#               Default is "nobody".
# hpex47xled_args (string):          Set extra arguments to pass to hpex47xled
#               Default is "".
# hpex47xled_listen_address (string):Set ip:port that hpex47xled will listen on
#               Default is ":9100".
# hpex47xled_textfile_dir (string):  Set directory that hpex47xled will watch
#               Default is "/var/tmp/hpex47xled".

. /etc/rc.subr

name=hpex47xled
rcvar=hpex47xled_enable

load_rc_config $name

: ${hpex47xled_enable:="NO"}
: ${hpex47xled_user:="root"}
: ${hpex47xled_group:="wheel"}
#: ${hpex47xled_args:=""}

pidfile=/var/run/hpex47xled.pid
command="/usr/sbin/daemon"
procname="/usr/local/bin/hpex47xled"
command_args="-f -p ${pidfile} -T ${name} \
    /usr/bin/env ${procname} "

start_precmd=hpex47xled_startprecmd

hpex47xled_startprecmd()
{
    if [ ! -e ${pidfile} ]; then
        install -o ${hpex47xled_user} -g ${hpex47xled_group} /dev/null ${pidfile};
    fi
}

load_rc_config $name
run_rc_command "$1"

